<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation tests">
    <listeners>
        <listener class-name="extentReports.MyListener"></listener>
    </listeners>
 <test name = "Parallel Tests" parallel = "tests" thread-count="2">

        <classes>
            <class name="extentReports.InputFormTest"/>
            <class name="extentReports.AlertTests"></class>

        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->
